@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,600,700&display=swap&subset=latin-ext");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.main-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-main {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(63, 63, 63, 1);
}
.main-vector {
  top: 0.1529541015625px;
  left: 0.75244140625px;
  width: 359px;
  height: 100%;
  position: absolute;
}
.main-icdropdown {
  top: 28.5px;
  left: 330px;
  width: 8px;
  height: 4px;
  position: absolute;
}
.main-text {
  top: 20.5px;
  left: 84.71009063720703px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16.794761657714844px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-frame1 {
  gap: 13px;
  top: 14px;
  left: 13px;
  width: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.main-group4 {
  width: 42px;
  height: 42px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 10px;
  background-color: rgba(43, 57, 57, 1);
}
.main-vector1 {
  top: 10.5691499710083px;
  left: 11.0908203125px;
  width: 20px;
  height: 21px;
  position: absolute;
}
.main-group3 {
  width: 42px;
  height: 42px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 10px;
  background-color: rgba(43, 57, 57, 1);
}
.main-userssolid1 {
  top: 11.5px;
  left: 9px;
  width: 24px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.main-vector2 {
  top: 11.981684684753418px;
  left: 7.981201171875px;
  width: 26px;
  height: 18px;
  position: absolute;
}
.main-frame2 {
  gap: 12px;
  top: 128px;
  left: 14.07049560546875px;
  width: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-group41 {
  width: 40px;
  height: 39.8590087890625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-rectangle7 {
  top: 2.9010913372039795px;
  left: 0px;
  right: 0px;
  width: 39.8590087890625px;
  height: 39.8590087890625px;
  margin: auto;
  position: absolute;
  box-sizing: content-box;
  border-radius: 8.91963005065918px;
}
.main-group5 {
  width: 40px;
  height: 39.86000061035156px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-rectangle71 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 12.625933647155762px;
}
.main-group6 {
  width: 40px;
  height: 39.86000061035156px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-rectangle72 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 11px;
}
.main-line {
  top: 0px;
  left: 67px;
  width: 1080px;
  height: 1px;
  opacity: 0.10;
  position: absolute;
}
.main-line1 {
  top: 0px;
  left: 0px;
  width: 1387px;
  height: 1px;
  opacity: 0.10;
  position: absolute;
}
.main-vector1 {
  top: 120.7099609375px;
  left: 18.94677734375px;
  width: 30px;
  height: 1px;
  position: absolute;
}
.main-rectangle8 {
  top: 1029.300537109375px;
  left: 16.172607421875px;
  width: 36px;
  height: 36px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(98, 155, 107, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 37px;
}
.main-group9 {
  top: 75px;
  left: 84px;
  width: 254px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-icdropdown1 {
  top: 6px;
  left: 248px;
  width: 6px;
  height: 3px;
  position: absolute;
}
.main-text02 {
  color: rgba(198, 198, 198, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 11.506266593933105px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-group11 {
  top: 217px;
  left: 84px;
  width: 254px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-icdropdown2 {
  top: -40px;
  left: 248px;
  width: 6px;
  height: 3px;
  position: absolute;
}
.main-text04 {
  top: -44px;
  left: 0px;
  color: rgb(198, 198, 198);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 11.5063px;
  font-style: Bold;
  text-align: left;
  font-family: "Lato";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-frame {
  gap: 15px;
  top: 200px;
  left: 87px;
  width: 131px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.main-group7 {
  width: 131px;
  height: 14.838567733764648px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-container1 {
  width: 13px;
  height: 11.609375px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.main-container2 {
  top: 5px;
  left: 7px;
  width: 9px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.main-rectangle5 {
  top: -3px;
  left: -4px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.main-rectangle4 {
  width: 9px;
  height: 9px;
}
.main-text05 {
  left: 24.52392578125px;
  color: rgb(193, 193, 193);
  width: 106px;
  height: auto;
  position: absolute;
  font-size: 12.4963px;
  font-style: Medium;
  text-align: left;
  font-family: "Lato";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-group71 {
  width: 131px;
  height: 14.838567733764648px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-container3 {
  width: 13px;
  height: 11.609375px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.main-container4 {
  top: 5px;
  left: 7px;
  width: 9px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.main-rectangle51 {
  top: -3px;
  left: -4px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.main-rectangle41 {
  width: 9px;
  height: 9px;
}
.main-text06 {
  left: 24.52392578125px;
  color: rgb(193, 193, 193);
  width: 106px;
  height: auto;
  position: absolute;
  font-size: 12.4963px;
  font-style: Medium;
  text-align: left;
  font-family: "Lato";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-frame7 {
  gap: 15px;
  top: 104.27001953125px;
  left: 86.892333984375px;
  width: 131px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.main-group8 {
  width: 130px;
  height: 14.8385009765625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-group13 {
  top: 1.7822265625px;
  left: 4px;
  width: 14.193413734436035px;
  height: 11.273916244506836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-group12 {
  top: 0px;
  left: 0px;
  width: 14.193413734436035px;
  height: 11.273916244506836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-vector3 {
  top: 7.1884942054748535px;
  left: 3.0967347621917725px;
  width: 3px;
  height: 4px;
  position: absolute;
}
.main-vector2 {
  top: 0px;
  left: -1px;
  width: 14px;
  height: 11px;
  position: absolute;
}
.main-ellipse1 {
  top: 1px;
  left: 9px;
  width: 3px;
  height: 9px;
  position: absolute;
}
.main-text07 {
  left: 24.152122497558594px;
  color: rgba(193, 193, 193, 1);
  width: 106px;
  height: auto;
  position: absolute;
  font-size: 12.496349334716797px;
  font-style: Medium;
  text-align: left;
  font-family: Lato;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-group72 {
  width: 131px;
  height: 14.838567733764648px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-container5 {
  width: 13px;
  height: 11.609375px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.main-container6 {
  top: 5px;
  left: 7px;
  width: 9px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.main-rectangle52 {
  top: -3px;
  left: -4px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.main-rectangle42 {
  width: 9px;
  height: 9px;
}
.main-text09 {
  left: 24.52392578125px;
  color: rgb(193, 193, 193);
  width: 106px;
  height: auto;
  position: absolute;
  font-size: 12.4963px;
  font-style: Medium;
  text-align: left;
  font-family: "Lato";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
