body {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%221920%22%20height%3D%221080%22%20viewBox%3D%220%200%201920%201080%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url%28%23clip0_1_1586%29%22%3E%0A%3Crect%20width%3D%221920%22%20height%3D%221080%22%20fill%3D%22%231D203E%22%2F%3E%0A%3Cg%20clip-path%3D%22url%28%23clip1_1_1586%29%22%3E%0A%3Cpath%20d%3D%22M1919.51%200.494995H0.490295V1079.51H1919.51V0.494995Z%22%20fill%3D%22%23062328%22%2F%3E%0A%3Cpath%20d%3D%22M1499.08%2091.1503C1507.97%2091.1503%201515.17%2083.9532%201515.17%2075.0752C1515.17%2066.1971%201507.97%2059%201499.08%2059C1490.2%2059%201483%2066.1971%201483%2075.0752C1483%2083.9532%201490.2%2091.1503%201499.08%2091.1503Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20clip-path%3D%22url%28%23clip2_1_1586%29%22%3E%0A%3Cpath%20d%3D%22M1940.08%201264.03L1940.08%20-243.68C1681.57%20-115.09%201501.22%20175.54%201501.22%20513.47C1501.22%20851.76%201682%201142.64%201940.9%201271.03C1940.36%201268.73%201940.09%201266.39%201940.08%201264.03Z%22%20fill%3D%22%23132B56%22%2F%3E%0A%3Cpath%20d%3D%22M1939.86%201167.39L1939.86%20-247.97C1681.35%20-127.25%201501%20145.57%201501%20462.81C1501%20780.38%201681.73%201053.44%201940.67%201173.97C1940.14%201171.82%201939.86%201169.61%201939.86%201167.39Z%22%20fill%3D%22%23254999%22%2F%3E%0A%3Cpath%20d%3D%22M1934.18%201051.93L1934.18%20-247.97C1696.76%20-137.13%201531.11%20113.44%201531.11%20404.81C1531.11%20696.48%201697.11%20947.28%201934.92%201057.97C1934.43%201055.99%201934.18%201053.97%201934.18%201051.93Z%22%20fill%3D%22%23356AC9%22%2F%3E%0A%3Cpath%20d%3D%22M1881.31%20878.921C1871.39%20878.531%201859.92%20875.671%201848.7%20871.421C1825.61%20862.661%201802.7%20853.501%201782.03%20838.001C1776.31%20833.851%201771.25%20828.858%201767.03%20823.191C1758.69%20811.661%201754.76%20797.731%201765.67%20782.071C1778.53%20763.611%201787.58%20743.071%201790.31%20719.071C1792.06%20703.791%201791.6%20688.421%201791.76%20673.071C1791.92%20657.721%201792.71%20642.171%201798.09%20627.901C1812.7%20589.171%201838%20565.321%201873.21%20555.771C1873.36%20555.771%201873.51%20555.681%201873.66%20555.661C1892.09%20552.271%201900.5%20561.961%201897.48%20583.441C1895.58%20597.001%201893.02%20610.441%201891.27%20624.011C1885.6%20667.841%201892.19%20709.261%201909.7%20748.451C1915.86%20762.231%201923%20775.321%201929.7%20788.731C1933.66%20796.292%201936.83%20804.232%201939.19%20812.431C1943.13%20827.111%201940.61%20840.261%201932.42%20852.081C1921.83%20867.381%201900.17%20879.171%201881.31%20878.921Z%22%20fill%3D%22%2326B22C%22%2F%3E%0A%3Cpath%20d%3D%22M1666.58%20410.98C1659.03%20408.91%201650.77%20404.44%201642.98%20398.82C1626.98%20387.25%201611.08%20375.35%201598.26%20358.42C1594.63%20353.766%201591.72%20348.591%201589.63%20343.07C1585.47%20331.7%201585.18%20319.07%201596.63%20307.51C1610.14%20293.91%201621.12%20277.82%201627.91%20257.74C1632.25%20244.92%201634.91%20231.63%201638.04%20218.48C1641.17%20205.33%201644.82%20192.1%201651.76%20180.79C1670.58%20150.08%201694.7%20134.02%201723.64%20132C1723.76%20132%201723.89%20132%201724.01%20132C1738.84%20132.32%201743.41%20142.12%201736.89%20160C1732.77%20171.31%201728.18%20182.41%201724.17%20193.76C1711.54%20229.021%201708.03%20266.907%201713.97%20303.89C1715.97%20316.8%201718.97%20329.3%201721.44%20342C1723.01%20349.235%201723.89%20356.6%201724.09%20364C1724.24%20377.3%201719.73%20388.16%201711.09%20396.87C1699.99%20408.17%201681.03%20414.54%201666.58%20410.98Z%22%20fill%3D%22%2326B22C%22%2F%3E%0A%3Cpath%20d%3D%22M1973.43%20-86.2003C1973.03%20-28.5203%201965.5%2025.1297%201948.08%2073.2397C1944.7%2082.5897%201940.8%2091.1697%201935.91%2097.9397C1934.6%2099.8127%201933.08%20101.539%201931.4%20103.09C1924.83%20108.95%201919.6%20106.09%201915.72%2094.5497C1913.38%2087.0555%201911.44%2079.4412%201909.91%2071.7397C1900.57%2029.1397%201886.45%20-6.65028%201866.75%20-34.3203C1859.75%20-44.1903%201857.99%20-56.7504%201859.9%20-72.0304C1861.46%20-84.3278%201864.63%20-96.3672%201869.32%20-107.84C1883.4%20-142.74%201901.15%20-168.62%201923.19%20-183.64C1928.86%20-187.51%201934.76%20-189.55%201940.83%20-189.44C1951.9%20-189.24%201960.08%20-179.95%201965.43%20-161.91C1970.3%20-145.49%201972%20-127.43%201972.84%20-109.02C1973.2%20-101.44%201973.25%20-93.8103%201973.43%20-86.2003Z%22%20fill%3D%22%2326B22C%22%2F%3E%0A%3Cpath%20d%3D%22M1713.87%20539.566C1709.61%20564.384%201702.58%20586.963%201691.66%20606.461C1689.78%20610.021%201687.43%20613.31%201684.67%20616.238C1683.96%20616.952%201683.18%20617.588%201682.33%20618.134C1679.09%20620.195%201677.04%20618.572%201676.18%20613.343C1675.7%20609.934%201675.41%20606.503%201675.29%20603.063C1674.28%20584.048%201670.74%20567.636%201664.21%20554.321C1661.88%20549.571%201662.02%20544.04%201663.92%20537.593C1665.48%20532.418%201667.72%20527.47%201670.57%20522.877C1679.11%20508.835%201688.59%20498.951%201699.14%20494.037C1701.62%20492.79%201704.42%20492.353%201707.15%20492.789C1711.9%20493.661%201714.77%20498.236%201715.81%20506.371C1716.74%20513.792%201716.2%20521.688%201715.26%20529.681C1714.85%20532.988%201714.33%20536.277%201713.87%20539.566Z%22%20fill%3D%22%2326B22C%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20clip-path%3D%22url%28%23clip3_1_1586%29%22%3E%0A%3Cpath%20d%3D%22M115.084%20868.15C123.967%20868.15%20131.168%20860.953%20131.168%20852.075C131.168%20843.197%20123.967%20836%20115.084%20836C106.201%20836%2099%20843.197%2099%20852.075C99%20860.953%20106.201%20868.15%20115.084%20868.15Z%22%20fill%3D%22%23FFA9E2%22%2F%3E%0A%3Cpath%20d%3D%22M1005.99%20560.913C1014.53%20560.913%201021.45%20553.993%201021.45%20545.457C1021.45%20536.92%201014.53%20530%201005.99%20530C997.453%20530%20990.533%20536.92%20990.533%20545.457C990.533%20553.993%20997.453%20560.913%201005.99%20560.913Z%22%20fill%3D%22%23FFA9E2%22%2F%3E%0A%3Cpath%20d%3D%22M25.1985%2079.8957C34.0813%2079.8957%2041.2823%2072.6986%2041.2823%2063.8205C41.2823%2054.9425%2034.0813%2047.7454%2025.1985%2047.7454C16.3156%2047.7454%209.11469%2054.9425%209.11469%2063.8205C9.11469%2072.6986%2016.3156%2079.8957%2025.1985%2079.8957Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M414.608%20820.218C425.99%20820.218%20435.216%20810.991%20435.216%20799.609C435.216%20788.227%20425.99%20779%20414.608%20779C403.227%20779%20394%20788.227%20394%20799.609C394%20810.991%20403.227%20820.218%20414.608%20820.218Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M900.042%2086.785C914.952%2086.785%20927.04%2074.7041%20927.04%2059.8017C927.04%2044.8992%20914.952%2032.8184%20900.042%2032.8184C885.131%2032.8184%20873.044%2044.8992%20873.044%2059.8017C873.044%2074.7041%20885.131%2086.785%20900.042%2086.785Z%22%20fill%3D%22%23FFA9E2%22%2F%3E%0A%3Cpath%20d%3D%22M946.74%20817.237C957.411%20817.237%20966.06%20808.586%20966.06%20797.916C966.06%20787.245%20957.411%20778.595%20946.74%20778.595C936.07%20778.595%20927.42%20787.245%20927.42%20797.916C927.42%20808.586%20936.07%20817.237%20946.74%20817.237Z%22%20fill%3D%22%23FFA9E2%22%2F%3E%0A%3Cpath%20d%3D%22M514.031%2037.4112C524.5%2037.4112%20532.987%2028.9289%20532.987%2018.4655C532.987%208.00206%20524.5%20-0.480225%20514.031%20-0.480225C503.562%20-0.480225%20495.075%208.00206%20495.075%2018.4655C495.075%2028.9289%20503.562%2037.4112%20514.031%2037.4112Z%22%20fill%3D%22%23FFA9E2%22%2F%3E%0A%3Cpath%20d%3D%22M815.028%20260.167C825.497%20260.167%20833.984%20251.685%20833.984%20241.221C833.984%20230.758%20825.497%20222.276%20815.028%20222.276C804.559%20222.276%20796.072%20230.758%20796.072%20241.221C796.072%20251.685%20804.559%20260.167%20815.028%20260.167Z%22%20fill%3D%22%235E5ED3%22%2F%3E%0A%3Cpath%20d%3D%22M1284.9%20778.017C1295.37%20778.017%201303.86%20769.534%201303.86%20759.071C1303.86%20748.608%201295.37%20740.125%201284.9%20740.125C1274.43%20740.125%201265.95%20748.608%201265.95%20759.071C1265.95%20769.534%201274.43%20778.017%201284.9%20778.017Z%22%20fill%3D%22%23F4D242%22%2F%3E%0A%3Cpath%20d%3D%22M774.244%20809.019C779.32%20809.019%20783.434%20804.906%20783.434%20799.833C783.434%20794.76%20779.32%20790.647%20774.244%20790.647C769.168%20790.647%20765.053%20794.76%20765.053%20799.833C765.053%20804.906%20769.168%20809.019%20774.244%20809.019Z%22%20fill%3D%22%235E5ED3%22%2F%3E%0A%3Cpath%20d%3D%22M656.487%20968.622C666.322%20968.622%20674.294%20960.654%20674.294%20950.825C674.294%20940.995%20666.322%20933.027%20656.487%20933.027C646.653%20933.027%20638.68%20940.995%20638.68%20950.825C638.68%20960.654%20646.653%20968.622%20656.487%20968.622Z%22%20fill%3D%22%23FFA9E2%22%2F%3E%0A%3Cpath%20d%3D%22M927.614%201080C937.449%201080%20945.421%201072.03%20945.421%201062.2C945.421%201052.37%20937.449%201044.41%20927.614%201044.41C917.779%201044.41%20909.807%201052.37%20909.807%201062.2C909.807%201072.03%20917.779%201080%20927.614%201080Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M1077.54%20231.461C1082.61%20231.461%201086.73%20227.349%201086.73%20222.276C1086.73%20217.202%201082.61%20213.09%201077.54%20213.09C1072.46%20213.09%201068.35%20217.202%201068.35%20222.276C1068.35%20227.349%201072.46%20231.461%201077.54%20231.461Z%22%20fill%3D%22%23FFA9E2%22%2F%3E%0A%3Cpath%20d%3D%22M1086.73%20885.95C1091.8%20885.95%201095.92%20881.837%201095.92%20876.764C1095.92%20871.691%201091.8%20867.578%201086.73%20867.578C1081.65%20867.578%201077.54%20871.691%201077.54%20876.764C1077.54%20881.837%201081.65%20885.95%201086.73%20885.95Z%22%20fill%3D%22%235E5ED3%22%2F%3E%0A%3Cpath%20d%3D%22M756.29%20492.985C761.366%20492.985%20765.48%20488.873%20765.48%20483.799C765.48%20478.726%20761.366%20474.614%20756.29%20474.614C751.214%20474.614%20747.099%20478.726%20747.099%20483.799C747.099%20488.873%20751.214%20492.985%20756.29%20492.985Z%22%20fill%3D%22%235E5ED3%22%2F%3E%0A%3Cpath%20d%3D%22M1396.34%201045.55C1405.54%201045.55%201413%201038.1%201413%201028.9C1413%201019.71%201405.54%201012.25%201396.34%201012.25C1387.14%201012.25%201379.68%201019.71%201379.68%201028.9C1379.68%201038.1%201387.14%201045.55%201396.34%201045.55Z%22%20fill%3D%22%23F4D242%22%2F%3E%0A%3Cpath%20d%3D%22M1360.73%20190.125C1371.2%20190.125%201379.68%20181.643%201379.68%20171.18C1379.68%20160.716%201371.2%20152.234%201360.73%20152.234C1350.26%20152.234%201341.77%20160.716%201341.77%20171.18C1341.77%20181.643%201350.26%20190.125%201360.73%20190.125Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_1_1586%22%3E%0A%3Crect%20width%3D%221920%22%20height%3D%221080%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3CclipPath%20id%3D%22clip1_1_1586%22%3E%0A%3Crect%20width%3D%221920%22%20height%3D%221080%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3CclipPath%20id%3D%22clip2_1_1586%22%3E%0A%3Crect%20width%3D%221519.03%22%20height%3D%22497.18%22%20fill%3D%22white%22%20transform%3D%22matrix%280%20-1%201%200%201501%201271.03%29%22%2F%3E%0A%3C%2FclipPath%3E%0A%3CclipPath%20id%3D%22clip3_1_1586%22%3E%0A%3Crect%20width%3D%222084%22%20height%3D%221100%22%20fill%3D%22white%22%20transform%3D%22translate%28-671%20-20%29%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
    background-repeat: no-repeat;
    background-size: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Space Grotesk:wght@700&display=swap");

p {
  margin: 0;
}

.frame-238859 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
  width: 583px;
  height: 422px;
  box-sizing: border-box;
}
.frame-238858 {
  position: absolute;
  top: 79px;
  left: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 5px 23px 177px 22px;
  box-sizing: border-box;
}
.group-568 {
  width: fit-content;
  height: 40px;
  padding: 8px 307px 13px 15px;
  border: 1px solid rgba(191, 205, 226, 1);
  border-radius: 32px;
  box-sizing: border-box;
}
.email-username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(166, 171, 189, 1);
  font-size: 15px;
  line-height: 15px;
  font-family: Space Grotesk, sans-serif;
  font-weight: 700;
  text-align: center;
}

.group-248 {
  width: fit-content;
  height: 40px;
  padding: 9px 361px 12px 15px;
  border: 1px solid rgba(191, 205, 226, 1);
  border-radius: 32px;
  box-sizing: border-box;
}
.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(166, 171, 189, 1);
  font-size: 15px;
  line-height: 15px;
  font-family: Space Grotesk, sans-serif;
  font-weight: 700;
  text-align: center;
}

.group-238859 {
  width: fit-content;
  height: 40px;
  padding: 9px 199px 13px 200px;
  border-radius: 32px;
  box-sizing: border-box;
  background-color: rgba(0, 108, 255, 1);
}
.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-size: 17.5px;
  line-height: 17.5px;
  font-family: Space Grotesk, sans-serif;
  font-weight: 700;
  text-align: center;
}

.group-238860 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 8px 132px 7px 105px;
  border: 1px solid rgba(191, 205, 226, 1);
  border-radius: 32px;
  box-sizing: border-box;
}
.google-icon-1 {
  width: 24.24px;
  height: 100%;
}

.log-in-with-google {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 16px;
  font-family: Space Grotesk, sans-serif;
  font-weight: 700;
  text-align: center;
}

.don-thave-aneeter-accou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(166, 171, 189, 1);
  font-size: 13px;
  line-height: 13px;
  font-family: Space Grotesk, sans-serif;
  font-weight: 700;
  text-align: center;
}

.group-238858 {
  width: fit-content;
  height: 78px;
  box-sizing: border-box;
}
.frame-238860 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.welcome-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  line-height: 30px;
  font-family: Space Grotesk, sans-serif;
  font-weight: 700;
  text-align: center;
}

.log-in-with-your-email-or {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(166, 171, 189, 1);
  font-size: 15px;
  line-height: 15px;
  font-family: Space Grotesk, sans-serif;
  font-weight: 700;
  text-align: center;
}